{% extends "base.html" %}

{% block content %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current Launage: {{ LANGUAGE_CODE }} -->

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">{% trans 'A Simple Project Management Tool' %}</h1>
        <p class="lead font-weight-normal">Are you looking for a simple Project mangement tool that is easy to use even for non Tech member?</p>
        <a class="btn btn-outline-secondary" href="#">Find out more</a>
      </div>
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

 <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Community</h2>
          <p class="lead">Collaborate in the community to find new project, acquire man power, create your profile and contribute to the community</p>
        </div>
      </div>
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Trusted Resource</h2>
          <p class="lead">Need us to source trusted reource for your project? Contact us</p>
        </div>
      </div>
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Private Cloud</h2>
          <p class="lead">Do you need a private cloud model to host and manage your project? We have different options to host this platform in Azure, AWS, Google Cloud, and we have solution for customized server appliance solution.</p>
        </div>
      </div>
 </div>

{% endblock %}
