{% load static %}
{% load projectcm_extras %}

<!doctype html>
<html>
<head>
<title>CM Project Management Portal</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="{% static 'css/gantt-chart.css' %}" rel="stylesheet" type="text/css">	
	<link href="{% static 'css/standard.css' %}" rel="stylesheet" type="text/css">

	<style>
	body {
		padding-top: 0px;
	}
	
	</style>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static "js/random-color.js" %}">
</script>
<script type="text/javascript" src="{% static "js/projectcm-time.js" %}">
</script>
<script type="text/javascript" src="{% static 'js/draw-gantt.js' %}"></script>


    </head>
   <body>

	{% if user.is_authenticated %}
	<div class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
		<ul class="nav navbar-nav">
			<li><a class="navbar-brand" href="{% url 'project_home' %}">CMProject</a></li>
			<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects
			</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{% url 'project_new' %}">Create New Project</a>
					<a class="dropdown-item" href="{% url 'project_listall' %}">Manage My Projects</a>
					
					{% is_company_admin user.get_username as is_company_admin_var %}
					{% if is_company_admin_var %}
					<a class="dropdown-item" href="{% url 'company_manage' %}">Manage Company </a>
					{% endif %}
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}">logout</a>
			</li>
		</ul>
	</nav>
	</div>
	<div class="content container-fluid">
			{% block content %}
			{% endblock %}
	</div>
	{% else %}
		<li><a href="{% url 'login'%}?next={{ request.path }}">login</a></li>
		<li><a href="">Register new account</a></li>
		<li><a href="">Forgot Password</a></li>
	{% endif%}
     </body>
</html>
